<%- include("./partials/header") %>
  <!-- Navigation (Sits on top) -->
<div class="w3-top w3-bar w3-black w3-padding w3-card w3-wide title">
<a href="#home" class="w3-bar-item w3-button heading">Charity Verification</a>

<!-- Right-sided navbar links. Hide them on small screens -->
<div class="w3-right w3-medium right-nav" id="myTopnav">
<a href="/login" class="w3-bar-item w3-button w3-hover-white">Login</a>
<a href="login.html" class="w3-bar-item w3-button w3-hover-white">About us</a>
<a href="#contact" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-facebook-square" ></i></a>
<a href="#contact" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href="#contact" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars"></i>
</a>
</div>
</div>
<div class="container">
  <div class="header">
    <h1>Do you know where your charity goes?</h1>
    <p>
    Ever wondered where your donations go?
    Is your charity reaching the deserved?
    Is the collector taking the donation to the needed ones?
    Our platform will show you, whom your money is helping and how.
    

    </p>
    <button class="registerBtn"><h3><a href= "/register">Register</a></h3></button>
  </div>
  <div class="footer">
    <h4>“When a person dies, all their deeds end except three:
      a continuing charity, beneficial knowledge and a 
      child who prays for them”</h4>  
  </div class="footer">
</div>
<%- include("./partials/footer") %>